.theme-day {
  --border: #572EE5;
  --green:#5ED7C6;
  --white: #FFFFFF;
  --grey: #F3F5F8;
  --grey-2: #CED7E1;
  --black: #000000;
  --icon: #CDD6E0;
  --b-active: #9CAFC3;
  --border2: #572EE5;
  --hover1: #572EE5; }

.theme-night {
  --border: #FFFFFF;
  --green:#5ED7C6;
  --white: #37383C;
  --grey: #222326;
  --grey-2: #CED7E1;
  --black: #FFFFFF;
  --icon: #CDD6E0;
  --b-active: #9CAFC3;
  --border2: #000000;
  --hover1: #9CAFC3; }

.container_bar {
  margin-top: 0px;
  margin-bottom: 0px; }

.active-search {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out; }
  .active-search hr {
    width: 338px; }

.line-div {
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  margin: 0; }

.lin-1 {
  width: 505px;
  margin-bottom: 14px; }

.lin-2 {
  margin-bottom: 80px;
  margin-top: 55px; }

.search-box-input {
  width: 551px;
  height: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  margin-bottom: 55px;
  padding-bottom: 8px; }
  .search-box-input hr {
    width: 505px; }

.box-div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
  width: 100%; }
  .box-div-1 input {
    border: none; }

.close-button {
  display: none;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
  background-color: var(--white);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  border: none; }

.first-search-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0px 10px 0px; }

.icon-s1 {
  margin-left: 20px;
  width: 19px;
  height: 19px;
  padding: 2px;
  background-color: var(--white);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out; }
  .icon-s1 img {
    width: 100%;
    display: block;
    -o-object-fit: contain;
       object-fit: contain; }

.suggestions-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px; }
  .suggestions-1 .button-sug-1 {
    color: #9CAFC3;
    border: none;
    background-color: var(--white);
    -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out; }

.button-search-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none; }

.icon-s3 {
  display: none;
  margin-left: 19px;
  width: 24px;
  height: 24px;
  background-color: var(--white);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out; }

#searchbar {
  margin-left: 54px; }

.inputfield {
  margin-left: 33px; }

::-webkit-input-placeholder {
  color: #9CAFC3; }

:-ms-input-placeholder {
  color: #9CAFC3; }

::-ms-input-placeholder {
  color: #9CAFC3; }

::placeholder {
  color: #9CAFC3; }

.icon-s2 {
  width: 19px;
  height: 19px;
  margin-left: 24px; }

.active-title {
  display: none;
  font-size: 40px;
  font-weight: bold;
  color: var(--border);
  text-align: center;
  line-height: 30px;
  margin-bottom: 61px; }

.container-search {
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 78px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 28px; }
  .container-search .gif-pic:hover .title-card {
    margin-top: 100px;
    margin-left: 12px; }
    .container-search .gif-pic:hover .title-card h3 {
      margin-top: 5px; }
  .container-search .second-gif {
    height: 200px; }
  .container-search .gif-card {
    width: 260px;
    height: 200px; }
  .container-search .hover-gif {
    top: -200px; }

.b-see-more {
  display: none;
  margin-bottom: 79px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  background: #FFFFFF;
  width: 127px;
  height: 50px;
  font-size: 13px;
  font-weight: bold;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase; }
