.theme-day {
  --border: #572EE5;
  --green:#5ED7C6;
  --white: #FFFFFF;
  --grey: #F3F5F8;
  --grey-2: #CED7E1;
  --black: #000000;
  --icon: #CDD6E0;
  --b-active: #9CAFC3;
  --border2: #572EE5;
  --hover1: #572EE5; }

.theme-night {
  --border: #FFFFFF;
  --green:#5ED7C6;
  --white: #37383C;
  --grey: #222326;
  --grey-2: #CED7E1;
  --black: #FFFFFF;
  --icon: #CDD6E0;
  --b-active: #9CAFC3;
  --border2: #000000;
  --hover1: #9CAFC3; }

.theme-day {
  --border: #572EE5;
  --green:#5ED7C6;
  --white: #FFFFFF;
  --grey: #F3F5F8;
  --grey-2: #CED7E1;
  --black: #000000;
  --icon: #CDD6E0;
  --b-active: #9CAFC3;
  --border2: #572EE5;
  --hover1: #572EE5; }

.theme-night {
  --border: #FFFFFF;
  --green:#5ED7C6;
  --white: #37383C;
  --grey: #222326;
  --grey-2: #CED7E1;
  --black: #FFFFFF;
  --icon: #CDD6E0;
  --b-active: #9CAFC3;
  --border2: #000000;
  --hover1: #9CAFC3; }

.gif-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 140px; }
  .gif-screen button {
    background-color: Transparent; }
  .gif-screen .right {
    margin-left: 25px; }
  .gif-screen .left {
    margin-right: 25px; }

.gifo-image-max {
  width: 695px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.gif-icons-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 27px; }

.text-p1 {
  color: #000000; }

.size-s1 {
  font-size: 15px; }

.size-s2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 6px; }

.b-icon-2 {
  display: block;
  border: 1px solid #CED7E1;
  border-radius: 6px;
  border-radius: 6px;
  opacity: 0.6; }

.b-icon-2:hover {
  opacity: 1; }

.b-icon-3 {
  margin-right: 400px; }

.icons-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container-icons {
  width: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

body {
  -webkit-transition: background 100ms ease-in-out, color 200ms ease-in-out;
  transition: background 100ms ease-in-out, color 200ms ease-in-out; }

#menuToggle input {
  display: none; }
#menuToggle span {
  display: none; }

#menu {
  opacity: 1;
  visibility: inherit;
  background: none;
  position: inherit;
  top: 0px;
  left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.list-menu {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  margin-right: 45px; }
  .list-menu li a {
    font-size: 14px;
    color: var(--border);
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; }
  .list-menu li .theme-button {
    height: 16px;
    font-size: 14px;
    color: var(--border);
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; }
  .list-menu hr {
    display: none; }

header {
  background-color: var(--white);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out; }
  header nav {
    width: 50%; }

.nav-width {
  width: 100%; }

.crear-gif {
  margin-right: 110px; }

.crear-gif:hover {
  background-color: var(--hover1);
  background-image: url("../assets/button-crear-gifo_white.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .crear-gif:hover img {
    display: none; }

.crear-gif:active {
  background-color: var(--b-active);
  border: var(--b-active); }
  .crear-gif:active img {
    display: none; }

.logo {
  margin-left: 134px; }

.main-header {
  padding-bottom: 102px; }
  .main-header h2 {
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 50px; }
  .main-header .trending {
    margin-top: 73px;
    margin-bottom: 0px; }
    .main-header .trending br {
      display: none; }

.inputbar {
  width: 551px; }

.container_bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.activebar {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.container_sugg {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.container-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.second-header {
  height: 640px; }
  .second-header h3 {
    margin-top: 65px; }
  .second-header p {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 52px; }
    .second-header p br {
      display: none; }

.b-gallery {
  display: block; }

.left {
  margin-right: 4px; }

.right {
  margin-left: 4px; }

.trending-gall {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.b-gallery {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--grey); }

.left {
  background-image: url("../assets/button-left.svg"); }

.right {
  background-image: url("../assets/button-right.svg"); }

.left:hover {
  background-color: var(--hover1);
  background-image: url("../assets/button-left-white.svg"); }

.right:hover {
  background-color: var(--hover1);
  background-image: url("../assets/button-right-white.svg"); }

.trending-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.t-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2;
  position: relative; }

.hover-gif {
  z-index: 3;
  position: relative;
  top: -275px; }

.gif-card {
  width: 357px;
  height: 275px; }

.gif-card-small {
  width: 260px;
  height: 200px; }

.second-gif {
  position: relative;
  width: 100%;
  height: 275px;
  opacity: 0.6;
  background: #572EE5;
  z-index: 2;
  opacity: 0; }

.gif-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 18px; }
  .gif-pic .title-card {
    display: none; }

.b-icon {
  display: none;
  border: none;
  width: 32px;
  height: 32px;
  margin: 10px 10px 0px 0;
  background: #FFFFFF;
  border-radius: 6px; }

.button-icon {
  border: none;
  width: 32px;
  height: 32px;
  margin: 10px 0px 0px 0;
  background: #FFFFFF;
  border-radius: 6px; }

.b-icon-2 {
  display: block;
  border: 1px solid #CED7E1;
  border-radius: 6px;
  opacity: 0.6; }

.b-icon-2:hover {
  opacity: 1; }

.b-icon-3 {
  margin-right: 400px; }

.close-2-button {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 120px; }

.gifo-image-max {
  background-image: url("https://media1.giphy.com/media/VgqQhscr0X22jfxU6w/giphy.gif?cid=b487f2bfxwdbkzb42y51hplzoaiar07e891saoz1nlmuyunj&rid=giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 695px;
  height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.icons-gif button:first-child {
  margin-right: 21px; }

.gif-pic:hover .b-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.6; }
.gif-pic:hover .b-icon:hover {
  opacity: 1;
  color: #FFFFFF; }
.gif-pic:hover .title-card {
  display: block; }
.gif-pic:hover h3 {
  margin-top: 0px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold; }
.gif-pic:hover p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: initial; }
.gif-pic:hover .title-card {
  margin-top: 139px;
  margin-left: 18px; }
.gif-pic:hover .second-gif {
  opacity: 0.6; }

footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  footer .first-foo {
    margin-left: 156px;
    font-size: 13px; }
  footer div {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 50%; }
  footer .second-foo {
    margin-right: 156px;
    font-size: 13px; }

.search-again {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .search-again h4 {
    margin-top: 28px;
    margin-bottom: 48px;
    font-size: 25px;
    font-weight: bold;
    color: #5ED7C6;
    text-align: center;
    line-height: 25px; }

.logo-new-search {
  width: 150px;
  height: 150px;
  background: #F3F5F8;
  border-radius: 50%;
  text-align: center; }
  .logo-new-search img {
    width: 100%; }

.lin-2 {
  display: none; }

.theme-day {
  --border: #572EE5;
  --green:#5ED7C6;
  --white: #FFFFFF;
  --grey: #F3F5F8;
  --grey-2: #CED7E1;
  --black: #000000;
  --icon: #CDD6E0;
  --b-active: #9CAFC3;
  --border2: #572EE5;
  --hover1: #572EE5; }

.theme-night {
  --border: #FFFFFF;
  --green:#5ED7C6;
  --white: #37383C;
  --grey: #222326;
  --grey-2: #CED7E1;
  --black: #FFFFFF;
  --icon: #CDD6E0;
  --b-active: #9CAFC3;
  --border2: #000000;
  --hover1: #9CAFC3; }

.container_bar {
  margin-top: 0px;
  margin-bottom: 0px; }

.active-search {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out; }
  .active-search hr {
    width: 338px; }

.line-div {
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  margin: 0; }

.lin-1 {
  width: 505px;
  margin-bottom: 14px; }

.lin-2 {
  margin-bottom: 80px;
  margin-top: 55px; }

.search-box-input {
  width: 551px;
  height: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  margin-bottom: 55px;
  padding-bottom: 8px; }
  .search-box-input hr {
    width: 505px; }

.box-div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
  width: 100%; }
  .box-div-1 input {
    border: none; }

.close-button {
  display: none;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
  background-color: var(--white);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  border: none; }

.first-search-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0px 10px 0px; }

.icon-s1 {
  margin-left: 20px;
  width: 19px;
  height: 19px;
  padding: 2px;
  background-color: var(--white);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out; }
  .icon-s1 img {
    width: 100%;
    display: block;
    -o-object-fit: contain;
       object-fit: contain; }

.suggestions-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px; }
  .suggestions-1 .button-sug-1 {
    color: #9CAFC3;
    border: none;
    background-color: var(--white);
    -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out; }

.button-search-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none; }

.icon-s3 {
  display: none;
  margin-left: 19px;
  width: 24px;
  height: 24px;
  background-color: var(--white);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out; }

#searchbar {
  margin-left: 54px; }

.inputfield {
  margin-left: 33px; }

::-webkit-input-placeholder {
  color: #9CAFC3; }

:-ms-input-placeholder {
  color: #9CAFC3; }

::-ms-input-placeholder {
  color: #9CAFC3; }

::placeholder {
  color: #9CAFC3; }

.icon-s2 {
  width: 19px;
  height: 19px;
  margin-left: 24px; }

.active-title {
  display: none;
  font-size: 40px;
  font-weight: bold;
  color: var(--border);
  text-align: center;
  line-height: 30px;
  margin-bottom: 61px; }

.container-search {
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 78px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 28px; }
  .container-search .gif-pic:hover .title-card {
    margin-top: 100px;
    margin-left: 12px; }
    .container-search .gif-pic:hover .title-card h3 {
      margin-top: 5px; }
  .container-search .second-gif {
    height: 200px; }
  .container-search .gif-card {
    width: 260px;
    height: 200px; }
  .container-search .hover-gif {
    top: -200px; }

.b-see-more {
  display: none;
  margin-bottom: 79px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  background: #FFFFFF;
  width: 127px;
  height: 50px;
  font-size: 13px;
  font-weight: bold;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase; }
