@import 'variables';
@import 'gifo_screen_style';

body {
    transition: background 100ms ease-in-out, color 200ms ease-in-out;
}


//1. Header 

#menuToggle {
    
    input {
        display: none;
    }
    span {
        display: none;
    }
}

#menu {
    opacity: 1;
    visibility: inherit;
    background: none;
    position: inherit;
    top: 0px;
    left: 0px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.list-menu {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 45px;
    
    li {
        a {
            font-size: 14px;
            color: var(--border);
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
        }

        .theme-button {
            height: 16px;
            font-size: 14px;
            color: var(--border);
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
        }
    } 

    hr {
      display: none;
    }
}

header {
    background-color: var(--white);
    justify-content: space-between;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    nav {
        width: 50%;
    }
}

.nav-width {
    width: 100%;
}

.crear-gif {
    margin-right: 110px;
}

.crear-gif:hover {
    img {
        display: none;
    }
    background-color: var(--hover1);
    background-image: url("../assets/button-crear-gifo_white.svg");
    background-repeat: no-repeat;
    background-position: center;
   
}

.crear-gif:active {
    img {
        display: none;
    }
    background-color: var(--b-active);
    border: var(--b-active);
}

.logo {
    margin-left: 134px;
}

//2. Search Section

.main-header {
    padding-bottom: 102px;
    h2 {
        margin-top: 75px;
        margin-bottom: 25px;
        font-size: 40px;
        line-height: 50px;
    }


    .trending {
        margin-top: 73px;
        margin-bottom: 0px;
        br {
            display: none;
        }
        p {
            //margin-bottom: 102px;
        }
    }
}

.inputbar {
    width: 551px;
}

.container_bar {
    width: 100%;
    display: flex;
}

.activebar {
    height: 50px;
    //height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_sugg {
    width: 100%;
    //display: flex;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-line {
    display: flex;
    justify-content: center;
    align-items: center;
}




//3. Trending Section ..............cambiar Tamaño Height!!!!
.second-header {
    height: 640px;
    //margin-top: 102px;

    h3 {
        margin-top: 65px;
    }

    p {
        font-size: 18px;
        margin-top: 14px;
        margin-bottom: 52px;
        br {
            display: none;
        }
    }
}

// 3.1 Buttons Gallery Trending Section

.b-gallery {
    display: block;
}

.left {

    margin-right: 4px;
}

.right {
    
    margin-left: 4px;
}

.trending-gall {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-gallery {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--grey);
    
    
}

.left {
    background-image: url("../assets/button-left.svg");
    
}


.right {
    background-image: url("../assets/button-right.svg");
    
}

.left:hover {
    background-color: var(--hover1);
    background-image: url("../assets/button-left-white.svg");
}

.right:hover {
    background-color: var(--hover1);
    background-image: url("../assets/button-right-white.svg");
}

//3.1.1 Size GIFO CARD Trending .............

.trending-sec {
    display: flex;
    align-items: center;
}

.t-icons {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    position: relative;
}

.hover-gif {
    z-index: 3;
    position: relative;
    top: -275px;
}

.gif-card {
    width: 357px;
    height: 275px;
   
}

.gif-card-small {
    width: 260px;
    height: 200px;
}

.second-gif {
    position: relative;
    width: 100%;
    height: 275px;
    opacity: 0.6;
    background: $border;
    z-index: 2;
    opacity: 0;
    
}

.gif-pic {
    
    background: {
        //image: url("../assets/art_tonydlr.JPG");
        position: center;
        repeat: no-repeat;
        size: cover;

    };

    margin: 0 18px;
    .title-card {
        display: none;
    }
}

.b-icon {
    display: none;
    border: none;
    width: 32px;
    height: 32px;
    margin: 10px 10px 0px 0;
    background: $white;
    border-radius: 6px;
}

// GIFO SCREEN MAX
.button-icon {

    border: none;
    width: 32px;
    height: 32px;
    margin: 10px 0px 0px 0;
    background: $white;
    border-radius: 6px;
}

.b-icon-2 {
    display: block;
    border: 1px solid $grey-2;
    border-radius: 6px;
    opacity: 0.6;
}

.b-icon-2:hover {
    opacity: 1;
}

.b-icon-3 {
    margin-right: 400px;
}

.close-2-button {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    
    top: 120px;
}

.gifo-image-max {
    background-image: url('https://media1.giphy.com/media/VgqQhscr0X22jfxU6w/giphy.gif?cid=b487f2bfxwdbkzb42y51hplzoaiar07e891saoz1nlmuyunj&rid=giphy.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 695px;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-gif {
    button:first-child {
        margin-right: 21px;
    }
}

// GIFO SCREEN MAX

//-----------------------------

.gif-pic:hover {

    .b-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
    }

    .b-icon:hover {
        opacity: 1;
        color: $white;
    }

    .title-card {
        display: block;
    }
    h3 {
        margin-top: 0px;
        font-size: 16px;
        color: $white;
        font-weight: bold;
    }
    p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 15px;
        color: $white;
        text-align: initial;
    }

    .title-card {
        margin-top: 139px;
        margin-left: 18px;
    }

    .second-gif {
        opacity: 0.6;
    }
}

// GIF CARD Trendind - size 357, 275 / margin 139, 18
// GIF CARD Search - size 260, 200 / margin 90, 12


//4. Footer

footer {
    flex-direction: row;
    justify-content: space-around;

    .first-foo {
        margin-left: 156px;
        font-size: 13px;
    }

    div {
        margin: 0;
        justify-content: center;
        margin-right: 50%;
    }

    .second-foo {
        margin-right: 156px;
        font-size: 13px;
    }
}

//.......................................
//6. Nueva Busqueda
.search-again {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h4 {
        margin-top: 28px;
        margin-bottom: 48px;
        font-size: 25px;
        font-weight: bold;
        color: $green;
        text-align: center;
        line-height: 25px;
    }
}
.logo-new-search {
    
    width: 150px;
    height: 150px;
    background: $grey;
    border-radius: 50%;
    
    img {
        width: 100%;
    }
    text-align: center;
}

// Hide Sections when updating Website

.search-box-input {
    //display: none;
}

.lin-2 {
    display: none;

}






// Card Grid

@import 'card_grid';

