
@import 'variables';

//1. Mis Gifos Hero

.list-menu {
    li {
        .mis-gifos-link {
            color: $b-active;
    }
    
    }
}


.container-favoritos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.title-favoritos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11px;

    h3 {
        font-size: 25px;
        color: var(--border);
        line-height: 30px;
        font-weight: bold;
        margin-top: 6px;
    }
}

.save-screen-favoritos {
    
    padding: 112px 0px 141px 0px;

    h4 {
        font-size: 24px;
        font-weight: bold;
        color: $green;
        text-align: center;
        line-height: 31px;
        margin-top: 24px;
    }
}

.logo-favoritos {
    width: 150px;
    height: 150px;
    background: $grey;
    border-radius: 50%;
    img {
        width: 76px;
        height: auto;
    }
}

.gifos-favoritos {
    background-color: var(--white);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}


